body {
    margin: auto;
    max-width: 700px;
    font-family: sans-serif;
    line-height: 1.65;
    color: #111;
    margin-top: 30px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-family: comic sans ms;
    font-weight: bolder;
    font-size: 70px;
    margin: 0;
    word-spacing: -5px;
}

p {
    text-indent: 21px;
}

.title img {
    width: 100%;
}

.hide {
    display: none;
}

.panel {
    padding: 5px 25px 5px 25px;
    font-size: large;
    color: #eee;
    background-color: rgba(30, 60, 30, .8);
    border: 8px solid black;
    border-radius: 30px;
}

a {
    font-weight: bold;
    color: fuchsia;
    text-decoration: none;
}

.rainbow {
    background: black; /* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orangered , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.yoloswagteam {
    background-image: linear-gradient(to right, red , yellow, greenyellow, cyan, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.yoloswagteam:before {
    background: none;
    content: attr(data-text);
    text-shadow: 0px 0px 12px rgba(2, 2, 2, 0.5);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
    transform: translateY(-50%);
}

.yoloswagteam:after {
    background: none;
    content: attr(data-text);
    text-shadow: 3px 3px 0px rgba(4, 4, 4, 0.8);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
    transform: translateY(-50%);
}

.footnotes {
    font-style: italic;
    font-size: small;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.grid-cell {
    margin: 12px;
}

.person {
    text-align: center;
    margin: 10px, 10px, 10px 0;
}

.person p {
    margin: 0;
    line-height: 1;
}

.person img {
    width: 134px;
    height: 134px;
}
